
<nav class="navbar navbar-expand-md py-4 navbar-light bg-white">
    
    <div class="container-fluid">
         <div style="margin-right:100px; margin-left:150px;" >
            
            <a class="navbar-brand mb-0 h1" href="#">
                <style>
                    .navbar-brand{
                        font-size: 30px;
                    }
                </style>
                ReCap Car Rental
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
             
            
     <div class="collapse navbar-collapse" id="navbarSupportedContent" >

        
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <div style="margin-left:300px;" >
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <style>
                                .nav-link{
                                    font-size: 22px;
                                }
                            </style>
                            Rent
                        
                        </a>
                    </li>
                </div>                
                 
               <div style="margin-left:50px;"> 
                    <li class="nav-item">
                            <a class="nav-link" href="#">Cars</a>
                    </li>
                </div>
    
                <div style="margin-left:50px;"> 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Service</a>
                      </li>
                </div>
              
                <div style="margin-left:50px;"> 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                      </li>
                </div>                                                    
              
            </ul>
        
        
        <form class="d-flex">              
            <div style="margin-right:20px;" >
                <button type="button" class="btn btn-outline-secondary" routerLink="signup">
                <img src="assets/img/sign-up.jpg" alt="" width="30" height="24">  

                
                  Sign Up
                  
                  
                </button>            
                
            </div>
            <div style="margin-right:100px;" >
                <button type="button" class="btn btn-primary mx-2 py-2 px-4 rounded-1 shadow" routerLink="login" >Log in</button>
            </div>
             
        </form>         

        
      </div>
    </div>    
  </nav>



 