<div class="brandlistposition">
    <div class="list-group">
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          Ford
        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          Nissan
        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          BMW
        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          Fiat
        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="">
          Mazda
        </label>
      </div>
</div>
