


<div class="searchposition">
    <div class="bg-light col-12 col-xl-4 rounded-1 shadow my-5 my-xl-0 p-3 ps-4">
        
            <form class="row">
                <div class="col-md from-group">
                    <label for="pick-up-date-input" class="form-label text-dark">
                        Pick-up Location:
                    </label>
                    
                    <select class="form-select">
                        <option selected>Choose a location</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>            
                
            </form>
            <form class="row">
                <div class="col-md form-group">
                    <label for="pick-up-date-input" class="form-label text-dark">
                        Pick-up Date:
                    </label>
                    <input 
                    class="form-control"
                    type="datetime-local"
                    value="DateTimeNow | date:'yyyy-MM-ddThh:mm'"
                    id="pick-up-date-input"            
                    >
                </div>
        
                <div class="col-md form-group">
                    <label for="return-date-input" class="form-label text-dark">
                        Return Date:
                    </label>
                    
                    <input 
                    class="form-control"
                    type="datetime-local"
                    value="DateTimeNow | date:'yyyy-MM-ddThh:mm'"
                    id="return-date-input"            
                    >
                </div>
                
                <button type="button" class="block">Search Car</button>
               
            </form>                                    
    </div>
</div>






